img{
  width: 200px;
}
.addItem{
  width: 250px;
    text-align: center;
    margin: auto;
    background: #fff;
    border-radius: 5px;
  
}
.showItem {
  margin-top: 20px;
}
.btn {
  width: 107px;
  height: 37px;
  text-transform: uppercase;
}
.inputrecord{
  height: 34px;
  border: none;
  margin-right: 40px;
  
}
body{
  background: #152238;
}
.App {
  text-align: center;
 
}
figcaption {
  color: #fff;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
